.container {
  margin: 80px auto;
  max-width: 500px;
  padding: 24px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

hr{
  z-index: 999;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 22px;
  text-align: center;
  margin: auto;
}

.row-item {
  max-width: 600px;
  padding: 20px;
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo {
  height: 130px;
  width: 130px;
  border: 1px solid rgb(196, 196, 196);
}

.text-prod {
  margin-left: 20px;
}

.photo-src{
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.product-name {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-bottom: 5px;
}

.product-price {
  font-family: "Poppins", sans-serif;
  color: rgb(196, 196, 196);
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
}

.product-discount {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.row-total{
  max-width: 600px;
  padding: 20px;
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.total-text{
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.free-shipping{
  width: 80%;
  background-color: rgb(210, 253, 175);
  height: 50px;
  border-radius: 30px;
  margin: auto;
}

.text-free-shipping{
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(50, 98, 26);
  text-align: center;
  padding-top: 13px;
}

.btn-finish{
  width: 100%;
  height: 50px;
  background-color: rgb(73, 115, 234);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-radius: 10px;
}

.btn-finish:hover{
  background-color: rgba(73, 115, 234, 0.5);
  cursor: pointer;
}

.container-btn{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}